*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #0B2329;
}

h1{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

button{
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    transition: 0.8s;
    border: none;
}

button:hover{
    background-color: black;
    color: white;
}

.text-container{
    width: 100%;
    position: relative;
    height: 50px;
}

.text-container input{
    height: 100%;
    padding-top: 20px;
    width: 100%;
    border: none;
    background-color: #0B2329;
    color: white;
}

.text-container label{
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    outline: none;
    border-bottom: #f7f7f7f7 2px solid;
}

.text-container label::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}

.title-span{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
}

.text-container input:focus + .label-title .title-span,
.text-container input:valid + .label-title .title-span{
    transform: translateY(-150%);
    opacity: 0.3;
}

.textarea-container{
    padding-top: 30px;
}

.textarea-container label{
    color: white;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}

.textarea-container textarea{
    border-radius: 3px;
    box-shadow: 0 5px 25px 0 rgba(0,0,0, .25);
}

.image-container{
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
}

.image-container label{
    display: block;
    padding-top: 25px;
    padding-bottom: 10px;
}
