* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #0B2329;

    }



.block {
    background-color: #F7F7F7F7;
    overflow: hidden;
    margin: 30px;
    padding: 20px 20px;
    border-radius: 10px;

}

.questioncontent {
    display: block;
}

.message:nth-of-type(odd) {
    background-color: #285369;
    border: 2.5px solid lightgrey;
    color: #f7f7f7f7;
    width: 90%;
    margin: 20px 20px 20px 100px;
    border-radius: 10px;
}

.head {
    color: black;
    border-bottom-right-radius: 3px;
    padding-bottom: 4px;
}

.nav {
    float:top;
    padding-right: 5px;
}

.comments {
    background-color: #327594;
    width: 60%;
    margin: 30px 30px 5px auto;

    color: black;
}

.block .comments {
    float:right;
    padding: 0;
    margin: 0;
    border-radius: 0;

}


<style>
    div p { text-align: center}

    .column { width: 230px; float: left; background: lightgrey; margin: 5px;}
    .questioncontent {overflow: hidden; margin: 5px; white-space: pre-line;}
    .imgblock {width: 150px; height: auto; display: block; margin-left: auto; margin-right: auto; padding: 15px;}

    .message {margin-bottom: 15px; border: 1px solid black;}
    .image {float:left; margin-right: 10px;}
    .user {float:left; font-weight:bold; color:#009; margin-bottom: 5px; margin-left: 5px; }
    .content { margin-left: 30px;font-style:italic; color:#; }
    .date { padding-left: 15px; padding-right: 15px; float: left;}
    .votes { float: right; padding-rigt: 15px;}
    .button { float: right; padding-right: 20px; padding-left: 25px}
    .head {background: lightgrey; width: fit-content}
    .delbtn, .editbtn, .combtn {float:right; padding-right: 5px;}
    .comments {}



</style>

