html {
    max-width: 1024px;
    margin: 0 auto;
}

*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 50px;
    margin-bottom: 50px;
    background: #285369;
    font-family: sans-serif;
}

ul {list-style-type: none;}
h1, h3, #no_answer {color: #f7f7f7;}
a {text-decoration: none; color: #f7f7f7;}
#bignum {font-size: 2em; color: #0B2329;}

.title {display: flex; min-height: 200px; align-items: baseline; text-align: center; flex-direction: column;}

.question-title{
    margin: 40px auto;
}

h1{
    font-size: 45px;
}

h3{
    margin-top: 40px;
    font-size: 25px;
}

#no_answer{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
}

.block {
    border-radius: 10px;
    background-color: #F7F7F7F7;
    box-shadow: 0 5px 25px 0 rgba(0,0,0, .25);
    /* overflow: hidden; */
    display:flex;
    flex-direction:row;
}
.column {
    display: flex;
    flex-direction: column;
    max-width: 25vh; align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    border-left: 4px solid #285369;
}
.msg {
    background: #f7f7f7; flex: 1 1 auto;
    border-radius: 0 10px 0 0;
    padding: 10px;
    white-space: pre-line;
}
.navbar {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #0B2329;
    height: min-content;
    border-radius: 0 0 10px 0;
    color: white;
    padding: 2px 0;
}

#upvote-btn{
    color: #222;
    font-size: 40px;
    margin-bottom: -10px;
    transition: 0.2s;
}

#downvote-btn{
    color: #222;
    font-size: 40px;
    margin-top: -10px;
    transition: 0.2s;
}

#upvote-btn:hover,
#downvote-btn:hover{
    color: #DC5947;
}

.navbar > * {margin-right: 10px;}

.comments {padding-left: 25vh; margin-top: 10px;}
.comments > * {margin: 10px;}
.answerblock {margin: 20px;}
.comments > .content > .msg{
    background: #dededede;
}

/**.message:nth-of-type(odd) {
    background-color: #285369;
    border: 2.5px solid lightgrey;
    color: #f7f7f7f7;
    width: 90%;
    margin: 20px 20px 20px 100px;
    border-radius: 10px;
} **/



.imgblock {
    max-height: 300px;
    max-width: 300px;
}

.imgblock {
    background-color: white;
}

.imgblock:hover {
    position: absolute;
    transform: scale(3) translate(+50%, +40%);
    transition: transform .25s ease;
    z-index: 1;
}
.loginrequired {
    visibility: hidden;
    display: flex;
    justify-content: center;
}
.loginrequired > a {
    margin-left: 10px;
}

#comment-btn,
#answer-btn{
    margin-left: 60px;
    margin-top: 30px;
    border: none;
    background: #f7f7f7;
    border-radius: 4px;
    padding: 10px 30px;
    color: #222;
    font-weight: bold;
    transition: 0.2s;
    cursor: pointer;
}

#back-to-questions{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

#comment-btn:hover,
#answer-btn:hover{
    background: #DC5947;
}

.accepted {
    border: 4px solid darkgoldenrod;
}
.accepted .content {
    border-left: 4px solid darkgoldenrod;
}
.accepted .content .navbar {
    background: darkgoldenrod;
}
.admin {
    display:flex;
    visibility:hidden;}
.admin > * {
    margin-left: 10px;
}