.modal-container{
    position: fixed;
    background-color: #285369;
    left: 50%;
    transform: translate(-50%, -300%);
    -ms-transform: translate(-50%, -300%);
    -webkit-transform: translate(-50%, -300%);
    padding: 20px;
    border-radius: 5px;
    width: 70%;
    max-width: 700px;
    transition: 200ms ease-out;
}


.modal:before{
    content: "";
    position: fixed;
    background-color: rgb(0,0,0,.8);
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal:target .modal-container{
    z-index: 1;
    position: fixed;
    top: 20%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.modal:target:before{
    display: block;
}