{% extends "header.html" %}

{% block head %}
    <link type="text/css" href="/static/comment.css" rel="stylesheet">
    <title>{{ labelaction }}</title>
{% endblock %}

{% block body %}
    <form action="{{ sending_route}}" method="{{ method }}">
        <div>
            <pre>
                <input type="hidden" name="{{ id_type }}" value="{{ id }}">
                <label for="msg">{{ labelaction }}</label>
                <textarea name="message" id="msg" rows="10" cols="25">{{ message if message else "" }}</textarea>
            </pre>
        </div>
        <button type="submit">Send</button>
    </form>
{% endblock %}