<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ 'Edit answer' if answer_id else 'Add new answer' }}</title>
    <link rel="stylesheet" type="text/css" href="/static/form.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>{{ 'Edit answer' if answer_id else 'Add new answer' }}</h1>
    </header>
    <main>
        <form method="POST">
            <div class="form-container">
                <div class="textarea-container">
                    <label for="message" title="message">Message:</label>
                    <textarea title="message" name="message" rows="8" cols="50" required>{{ answer['message'] if answer }}</textarea>
                </div>
                <div class="image-container">
                    <label title="add-image">Image:</label>
                    <input type="file" title="upload-image" name="image" accept=.jpg,.png/>
                </div>
                    <button type="submit" title="submit_answer">{{ 'Update' if question else 'Post' }}</button>
            </div>
        </form>
    </main>
</body>
</html>