<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
</head>
<body>
    <h1>{{ header_title }}</h1>
    <form action="{{ url_action }}">
        <p>
           <label for="title">{{ title_field_title }}</label><br>
            <input type="text" name="title" id="title" value="{{ question["title"] }}" required>
        </p>
        <p>
            <label for="message">{{ message_title }}</label><br>
            <textarea name="message" id="message" rows="8" cols="50" required>{{ question["message"] }}</textarea>
        </p>
        <p>
            <label for="upload-image">{{ image_title }}</label><br>
            <input type="file" name="upload-image" id="upload-image" title="upload-image" value="{{ question["image"] }}" accept=.jpg,.png/>
            <input type="text" name="image" id="image" value="{{ question["image"] }}">
        </p>
        <p>
            <button type="submit">{{ button_title }}</button>
        </p>
    </form>
</body>
</html>