<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to AskMate!</title>
</head>
<body>
    <header>
    <h1>AskMate</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                {% for header in question_header %}
                    <th>{{ header }}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for question in all_questions %}
                <tr>
                    <td>{{ question['id'] }}</td>
                    <td>{{ question['submission_time'] }}</td>
                    <td>{{ question['view_number'] }}</td>
                    <td>{{ question['vote_number'] }}</td>
                    <td><a href={{ url_for('manage_questions', question_id = question['id']) }}>{{ question['title'] }}</a></td>
                    <td><pre>{{ question['message'] }}</pre></td>
                    <td>{{ question['image'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer></footer>
</body>
</html>