<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to AskMate!</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="/static/questions-table.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="img-container">
            <div class="inner-container">
                <h1>AskMate</h1>
            </div>
        </div>
    </header>
    <div class="navigator-container">
        <nav>
            <a href={{ url_for('add_new_question') }}>Ask a question</a>

        <div class="navigator-float">
            <form action="/" method="GET">
                <label for="sorting"></label>
                <select name="sorting" id="sorting">
                    {% for label in file_labels %}
                        <option value="{{ label }}" {% if label == userpick_label %} SELECTED {% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
                <select name="sorting">
                    {%for bool in order %}
                        <option value="{{ bool }}" {% if userpick_order == bool %} SELECTED {% endif %}>{{ order[bool] }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Sort</button>
            </form>
        </div>
        </nav>
    </div>
    <main>
        <table class="table-container">
            <thead>
                <tr>
                {% for header in question_header %}
                    {% if header != "id" %}
                        <th>{{ header | title}}</th>
                    {% endif %}
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for question in all_questions %}
                <tr>
                    <td>{{ question['submission_time'] }}</td>
                    <td>{{ question['view_number'] }}</td>
                    <td>{{ question['vote_number'] }}</td>
                    <td><a href={{ url_for('manage_questions', question_id = question['id']) }}>{{ question['title'] }}</a></td>
                    <td style="white-space: pre-line">{{ question['message'] }}</td>
                    <td><img src="{{ url_for('static', filename=question['image']) }}" alt="No image" height="128" width="128"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer class="footer-container"></footer>
</body>
</html>