{% extends 'master_header.html' %}

{% block main %}

        {% if all_questions %}
            <table class="table-container">
            <thead>
                <tr>
                    <th>
                        <form class="sorting-container" action="/list">
                            <input id="title-search" name="order_by" type="hidden" value="submission_time">
                            <label for="title-search">Time</label>
                            <div class="btn-group">
                                <button class="asc" name="order_direction" value="asc" type="submit">
                                    <i class="fas fa-sort-up"></i>
                                </button>
                                <button class="desc" name="order_direction" value="desc" type="submit">
                                    <i class="fas fa-sort-down"></i>
                                </button>
                            </div>
                        </form>
                    </th>
                    <th>
                        <form class="sorting-container" action="/list">
                            <input id="title-search" name="order_by" type="hidden" value="view_number">
                            <label for="title-search">Views</label>
                            <div class="btn-group">
                                <button class="asc" name="order_direction" value="asc" type="submit">
                                    <i class="fas fa-sort-up"></i>
                                </button>
                                <button class="desc" name="order_direction" value="desc" type="submit">
                                    <i class="fas fa-sort-down"></i>
                                </button>
                            </div>
                        </form>
                    </th>
                    <th>
                        <form class="sorting-container" action="/list">
                            <input id="title-search" name="order_by" type="hidden" value="vote_number">
                            <label for="title-search">Votes</label>
                            <div class="btn-group">
                                <button class="asc" name="order_direction" value="asc" type="submit">
                                    <i class="fas fa-sort-up"></i>
                                </button>
                                <button class="desc" name="order_direction" value="desc" type="submit">
                                    <i class="fas fa-sort-down"></i>
                                </button>
                            </div>
                        </form>
                    </th>
                    <th>
                        <form class="sorting-container" action="/list">
                            <input id="title-search" name="order_by" type="hidden" value="title">
                            <label for="title-search">Title</label>
                            <div class="btn-group">
                                <button class="asc" name="order_direction" value="asc" type="submit">
                                    <i class="fas fa-sort-up"></i>
                                </button>
                                <button class="desc" name="order_direction" value="desc" type="submit">
                                    <i class="fas fa-sort-down"></i>
                                </button>
                            </div>
                        </form>
                    </th>
                    <th>
                        <form class="sorting-container" action="/list">
                            <input id="title-search" name="order_by" type="hidden" value="message">
                            <label for="title-search">Message</label>
                            <div class="btn-group">
                                <button class="asc" name="order_direction" value="asc" type="submit">
                                    <i class="fas fa-sort-up"></i>
                                </button>
                                <button class="desc" name="order_direction" value="desc" type="submit">
                                    <i class="fas fa-sort-down"></i>
                                </button>
                            </div>
                        </form>
                    </th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for question in all_questions %}
                <tr>
                    <td>{{ question['submission_time'] }}</td>
                    <td>{{ question['view_number'] }}</td>
                    <td>{{ question['vote_number'] }}</td>
                    <td><a href={{ url_for('modify_view', question_id = question['id']) }}>{{ question['title'] }}</a></td>
                    <td style="white-space: pre-line">{{ (question['message'][:200] + '...') if question['message'] | length > 200 else question['message'] }}</td>
                    <td><img src="{{ url_for('static', filename=('images/' + question['image'])) if question['image'] else '/static/images/basic.png' }}" alt="No image" height="128" width="128"></td>
                </tr>
                {% endfor %}
            {% else %}
                <p>No questions found</p>
            {% endif %}
            </tbody>
        </table>

{% endblock %}