
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to AskMate!</title>
    <script src="../static/JS/ui.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <link rel="stylesheet" type="text/css" href="/static/questions-table.css">
    <link rel="stylesheet" type="text/css" href="/static/modal.css">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>
    <header>
        <div class="img-container">
            <div class="inner-container">
                <a href="{{ url_for('index') }}">AskMate</a>
            </div>
        </div>
    </header>
    <div class="navigator-container">
        <nav>
            {% if session['user'] %}
                <p><a href="/user/{{ session['user_id'] }}">Hello {{ session['user'] }}</a></p>
                <a id="first-nav" itemid="{{ url_for('add_new_question') }}" href="#{{ url_for('add_new_question') }}">Ask a question</a>
                <div class="modal" id="{{ url_for('add_new_question') }}">
                    <div class="modal-container">
                        <a href="{{ url_for('index') }}">
                            <i class="fas fa-times"></i>
                        </a>
                        {% include 'add_question_or_answer.html' %}
                    </div>
                </div>
            {% endif %}
            <a id="last-nav" href="{{url_for('sort') }}">Show all questions</a>
            <a id="user-nav" href="{{url_for('list_users') }}">Show all users</a>
            {% if session['user'] %}
            <a id="user_logout" href="{{ url_for('logout') }}">Log out</a>
            {% else %}
            <a id="user_login" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        <form action="/search" method="get">
            <div class="search-box">
                <input  class="search-txt" type="text" name="q" id="search-bar" autocomplete="off" placeholder="Search">
                <label for="search-bar"></label>
                <button class="search-btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            </form>
        </nav>
    </div>

<main>
    {% block main %} {% endblock %}
</main>
</body>
</html>
