<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question['title'] }}</title>
    <link type="text/css" href="/static/manage-question.css" rel="stylesheet">
    {% block head %} {% endblock %}
</head>
<body>
    {% block question %} {% endblock %}
    {% if addinganswer %}
                {% else %}
                    <nav>
                        <a href='/question/{{ question['id'] }}/vote_up'><img src="/static/images/upvote.png" height="20" width="20"></a>
                        <a href='/question/{{ question['id'] }}/vote_down'><img src="/static/images/downvote.png" height="20" width="20"></a>
                    </nav>
                {% endif %}

    <p></p>

    {% if answers %}
        {% for answer in answers %}
            {% block comment scoped %}
            {% endblock%}
        {% endfor %}
    {% else %}
        <p>There are no answers to this question yet</p>
    {% endif %}

    {% if addinganswer %}
        {% block givinganswer %}{% endblock %}
    {% else %}
        <form action="/questions/{{ question['id'] }}" method="GET">
        <button type="submit" name="addinganswer">Add Answer</button>
        </form>

    {% endif %}
    <nav>
        <a href={{ url_for('show_questions') }}>Go back</a>
    </nav>

</body>
</html>
