<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
</head>
<body>
    <h1>{{ question['title'] }}</h1>
    <p style="white-space: pre-line">{{ question["message"] }}</p>
    {% if question['image'] %}
    <img src="{{ url_for('static', filename=question['image']) }}" alt="No image" height="600" width="520">
    {% endif %}
    <p>{{ question["submission_time"] }}</p>
    <p>Viewed {{ question["view_number"] }} times.</p>
    <p>Voted {{ question["vote_number"] }} times.</p>
    <form action="{{ url_action }}" method="get">
    <button type="submit" name="edit_question" id="edit_question" value="Edit question">Edit question</button>
    </form>
    <p></p>
    <a href="/question/<question_id>/vote_up">Vote Up</a>
    <a href="/question/<question_id>/vote_down">Vote Down</a>
    <p></p>
    <h3><label>Answers:</label></h3>
    {% if answers %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Votes</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer["submission_time"] }}</td>
                    <td>{{ answer["vote_number"] }}</td>
                    <td style="white-space: pre-line">{{ answer["message"] }}</td>
                    <td><img src="{{ answer["image"] }}" alt="No image"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>There are no answers to this question yet</p>
    {% endif %}
    <form action={{ '/question/<question_id>/new-answer' }}>
        <button type="submit" name="add_answer" id="add_answer" value="Answer">Answer</button><br><br>
    </form>
    <nav>
        <a href={{ url_for('show_questions') }}>Go back</a>
    </nav>
</body>
</html>
