<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    {% block head %} {% endblock %}
</head>
<body>
    <h1>{{ question['title'] }}</h1>
    <p style="white-space: pre-line">{{ question["message"] }}</p>
    {% if question['image'] %}
    <img src="{{ url_for('static', filename=question['image']) }}" alt="No image" height="600" width="520">
    {% endif %}
    <p>{{ question["submission_time"] }}</p>
    <p>Viewed {{ question["view_number"] }} times.</p>
    <p>Voted {{ question["vote_number"] }} times.</p>
    <p> <a href='/question/{{ question["id"] }}/vote_up'><button id="vote_up" value="vote_up">Vote UP</button></a>
    <a href='/question/{{ question["id"] }}/vote_down'><button id="vote_down" value="vote_down">Vote DOWN</button></a></p>
    <form action="{{ url_action }}" method="get">
    <button type="submit" name="edit_question" id="edit_question" value="Edit question">Edit question</button>
    </form>

    <p></p>
    <h3><label>Answers:</label></h3>
    {% if answers %}
        {% for answer in answers %}
            {% block comment scoped %}
            {% endblock%}
        {% endfor %}
    {% else %}
        <p>There are no answers to this question yet</p>
    {% endif %}
    <nav>
        <a href={{ url_for('add_new_answer', question_id=question['id']) }}>Answer</a>
        <a href={{ url_for('show_questions') }}>Go back</a>
    </nav>

</body>
</html>
