{% extends "question.html" %}
{% block head %}

{% endblock %}

{% block title %}{% endblock %}
{% block header %}{% endblock %}


{% block question %}
    <div class="block">
        <h1>{{ question['title'] }}</h1>
        <div class="column">
            <img class="imgblock" id="question_image"
                 src="{{ url_for('static', filename=('images/' + question['image'])) if question['image'] else '/static/images/basic.png' }}"
                 alt="No image">
            <p>{{ question['submission_time'] }}</p>
            <p>Voted: {{ question['vote_number'] }}</p>
            <p>Viewed: {{ question['view_number'] }}</p>
        </div>
        <div class="questioncontent">{{ question['message'] }}</div>
        <div class="comments">
            {% for comment in comments %}
                {% if comment["question_id"] == question_id and comment["answer_id"] == None %}
                    <div class="block">{{ comment["message"] }}
                        {% if comment["edited_count"]  == 0 %}
                            <p>{{ comment["submission_time"] }}
                        {% elif comment["edited_count"] == 1 %}
                            <p>{{ comment["submission_time"] }} (Edited {{ comment["edited_count"] }} time.)
                        {% else %}
                            <p>{{ comment["submission_time"] }} (Edited {{ comment["edited_count"] }} times.)
                        {% endif %}
                        <div class="editbtn"><a href="{{ url_for('edit_comment', comment_id=comment['id']) }}">Edit</a></div>
                        <div class="delbtn">
                                <a href="{{ url_for('delete_comment', question_id=question_id, comment_id=comment['id']) }}"
                                   onclick="return confirm('Are you sure, you want to delete this comment?')">
                                    <img src="/static/images/recyclebin.jpg" height="20" width="20">
                                </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="nav">
            <a href="{{ url_for('write_new_comment', question_id=question['id']) }}">Comment</a>




            <a href="{{ url_for('edit_question', question_id=question['id']) }}">Edit</a>
        <a href="/question/{{ question['id'] }}/delete">Delete</a>

    </div>
    </div>

{% endblock %}


{% block comment %}
    <div>
        <div class="message">
            <div class="head">{{ answer["submission_time"] }}
                <div class="user">Username</div>
                <div class="date">Posted:</div>
                <div class="button"><a href='/answer/{{ answer["id"] }}/vote_up'><img src="/static/images/upvote.png" height="20" width="20"></a></div>
                <div class="votes">{{ answer["vote_number"] }}</div>
                <div class="button"><a href='/answer/{{ answer["id"] }}/vote_down'><img src="/static/images/downvote.png" height="20" width="20"></a></div>
            </div>
            <div style="clear:both;"></div>
            <div class="content">{{ answer["message"] }}</div>

            {% if answer['image'] %}
            <div class="image"><img src="{{ url_for('static', filename=('images/' + answer['image'])) }}" width="100" height="100"></div>
            {% endif %}

            <div class="block comments">
                {% for comment in comments %}
                    {% if comment["answer_id"] == answer["id"] %}
                        {% if comment["edited_count"] == 0 %}
                            <div class="head">{{ comment["submission_time"] }}</div>
                        {% elif comment["edited_count"] == 1 %}
                            <div class="head">{{ comment["submission_time"] }} (Edited {{ comment["edited_count"] }} time.)</div>
                        {% else %}
                            <div class="head">{{ comment["submission_time"] }} (Edited {{ comment["edited_count"] }} times.)</div>
                        {% endif %}
                        {{ comment["message"] }}
                        <div class="editbtn"><a href="{{ url_for('edit_comment', comment_id=comment['id']) }}">Edit</a></div>
                        <div class="delbtn">
                            <a href="{{ url_for('delete_comment', question_id=question_id, comment_id=comment['id']) }}"
                               onclick="return confirm('Are you sure, you want to delete this comment?')">
                                <img src="/static/images/recyclebin.jpg" height="20" width="20">
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="editbtn"><a href="{{ url_for('edit_answer', answer_id = answer['id']) }}">Edit</a></div>
            <div class="delbtn"><a href="{{ url_for('delete_answer', answer_id=answer['id']) }}">Delete</a></div>
            <div class="combtn"><a href="{{ url_for('write_new_comment', question_id=question['id'], answer_id=answer['id']) }}">Comment</a></div>
            <div style="clear:both;"></div>
        </div>
    </div>
{% endblock %}

{% block givinganswer %}
    <h2>Add new answer</h2>
    <div class="block">
        <pre>
        <form action="/question/{{ question['id'] }}/new-answer" method="POST" enctype="multipart/form-data">
            <label title="answer">Answer:</label>
            <textarea title="answer" name="message" rows="8" cols="50" required></textarea>

            <label for="image" title="add-image">Image:</label>
            <input type="file" title="image" name="image" id="image" accept=".jpg,.png"/>
            <br><br>

            <button type="submit" title="submit_answer">Answer</button>
        </form>
        </pre>
    </div>
{% endblock %}
