{% extends "question.html" %}
{% block head %}
    <style>
        .message {margin-bottom: 15px; border: 1px solid black;}
        .image {float:left; margin-right: 10px; }
        .user {float:left; font-weight:bold; color:#009; margin-bottom: 5px; margin-left: 5px; }
        .content { margin-left: 30px;font-style:italic; color:#; }
        .date { padding-left: 15px; padding-right: 15px; float: left;}
        .votes { float: right; padding-rigt: 15px;}
        .button { float: right; padding-right: 20px; padding-left: 25px}
        .head {background: lightgrey; width: fit-content}
        .delbtn {float:right; padding-right: 5px;}
    </style>
{% endblock %}

{% block title %}{% endblock %}
{% block header %}{% endblock %}


{%block comment %}
    <div>
        <div class="message">
            <div class="head">{{ answer["submission_time"] }}
                <div class="image"><img src="{{ answer["image"] }}" alt="No image"></div>
                <div class="user">Username</div>
                <div class="date">Posted:</div>
                <div class="button"><a href='/answer/{{ question["id"] }}/{{ answer["id"] }}/vote_up'><img src="/static/images/upvote.png" height="20" width="20"></a></div>
                <div class="votes">{{ answer["vote_number"] }}</div>
                <div class="button"><a href='/answer/{{ question["id"] }}/{{ answer["id"] }}/vote_down'><img src="/static/images/downvote.png" height="20" width="20"></a></div>
            </div>
            <div style="clear:both;"></div>
            <div class="content">{{ answer["message"] }}</div>
            <div class="delbtn"><a href="{{ url_for('delete_answer', answer_id=answer['id']) }}">Delete</a></div>
            <div style="clear:both;"></div>
        </div>
    </div>
{% endblock %}
