{% extends 'master_header.html' %}

{% block main %}

        {% if all_users %}
        <table class="table-container">
            <thead>
                <tr>
                    <th>Reputation</th>
                    <th>Username</th>
                    <th>Member since</th>
                    <th>Questions asked</th>
                    <th>Answers given</th>
                    <th>Comments given</th>

                </tr>
            </thead>
            <tbody>
                {% for user in all_users %}
                <tr>
                    <td>{{ user['reputation'] }}</td>
                    <td><a href="/user/{{ user['id'] }}">{{ user['name'] }}</a></td>
                    <td>{{ user['member_since'] }}</td>
                    <td>{{ user['question'] }}</td>
                    <td>{{ user['answer'] }}</td>
                    <td>{{ user['comment'] }}</td>

                </tr>
                {% endfor %}
            {% else %}
                <p>No users found</p>
            {% endif %}

            </tbody>
        </table>

{% endblock %}